/* General styles for the entire page */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('008A1205.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.navBar {
    /* Nav bar styles */
    /* styles here */
}

/* Add styles for other sections as needed */

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    /*  responsive styles here */
}
